<!DOCTYPE html>
<html>

<head>
    <title>FAQ numéro client</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="{{ asset('/js/script.js') }}"></script>
</head>

<body class="bg-slate-50">

    <header class="bg-blue-900 p-2">
    
        <h1 class=" text-center text-3xl uppercase text-slate-100 font-bold">FAQ numéro client</h1>

        {# ========== Barre de recherche =========#}
        <form action="#" method="get" class="p-4 shadow-lg text-lg text-center bg-blue-900 font-semibold">
            <label for="search" class="text-slate-100">Rechercher une question </label>
            <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-1/2 text-slate-900 px-2 rounded-lg">
            <button type="submit" class="bg-green-500 rounded-2xl text-center px-4 py-1 hover:brightness-125">Rechercher</button>
        </form>

    </header>

    <content class="flex flex-col w-[96%] mx-auto gap-8 mt-10">

        {# ========== Boutons de tri par catégorie =========#}
        <div class="flex justify-evenly bg-blue-900 p-3 rounded-2xl shadow-xl uppercase mx-auto w-2/5">

            <p value="all" class="reset bg-slate-300 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Tous</p>
            <p value="city_ker" data-categorie="city_ker" class="categoryAdmin bg-orange-400 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">CITY KER</p>
            <p value="velo" data-categorie="velo" class="categoryAdmin bg-yellow-400 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Velo</p>
            <p value="vert" data-categorie="vert" class="categoryAdmin bg-green-400 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Vert</p>
        </div>

        {# ========== Affichage des questions =========#}
        <div class="flex gap-4 mx-auto w-11/12">

            {% if data is not empty %}

                <div class="flex flex-col shadow-lg w-1/3 rounded-xl">

                    <h2 class="bg-blue-900 p-2 font-semibold text-slate-100 rounded-t-xl uppercase text-center">Infos générales</h2>

                    <div class=" bg-green-300 flex flex-col p-3 gap-4" data-souscategorie='infos_generales'>

                        {% for item in data %}

                            {% if item.SousCategorie is same as 'infos_generales' %}

                                    <div class="objet bg-green-100 rounded-xl shadow-lg text-lg" data-categorie={{item.Categorie}}>

                                        <h3 class="bg-blue-900 p-2 rounded-t-xl font-semibold text-slate-100">{{item.Question}}</h3>
                                        <p class="p-2">{{item.Reponse}}</p>

                                    </div>
                            {% endif %}
                            
                        {% endfor %}
                    </div>

                </div>

                <div class="flex flex-col shadow-lg w-1/3 rounded-xl">

                    <h2 class="bg-blue-900 p-2 font-semibold text-slate-100 rounded-t-xl uppercase text-center">Sous categorie test</h2>

                    <div class=" bg-yellow-300 flex flex-col p-3 gap-4" data-souscategorie='sous_categorie_test'>

                        {% for item in data %}

                            {% if item.SousCategorie is same as 'sous_categorie_test' %}

                                    <div class="objet bg-green-100 rounded-xl shadow-lg text-lg" data-categorie={{item.Categorie}}>

                                        <h3 class="bg-blue-900 p-2 rounded-t-xl font-semibold text-slate-100">{{item.Question}}</h3>
                                        <p class="p-2">{{item.Reponse}}</p>

                                    </div>
                            {% endif %}
                            
                        {% endfor %}
                    </div>

                </div>

                <div class="flex flex-col shadow-lg w-1/3 rounded-xl">

                    <h2 class="bg-blue-900 p-2 font-semibold text-slate-100 rounded-t-xl uppercase text-center">Réclamations informations</h2>

                    <div class=" bg-red-300 flex flex-col p-3 gap-4" data-souscategorie='reclamations_informations'>

                        {% for item in data %}

                            {% if item.SousCategorie is same as 'reclamations_informations' %}

                                    <div class="objet bg-green-100 rounded-xl shadow-lg text-lg" data-categorie={{item.Categorie}}>

                                        <h3 class="bg-blue-900 p-2 rounded-t-xl font-semibold text-slate-100">{{item.Question}}</h3>
                                        <p class="p-2">{{item.Reponse}}</p>

                                    </div>
                            {% endif %}
                            
                        {% endfor %}
                    </div>

                </div>



            {% else %}

                <div class="bg-yellow-100 ml-4 rounded-xl p-11">
                    <p class="text-red-500 text-xl">Aucune question ne correspond à votre recherche...</p>
                </div>

            {% endif %}
        </div>
    </content>
</body>
</html>
