<!DOCTYPE html>
<html>

<head>
    <title>FAQ numéro client</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="{{ asset('/js/script.js') }}"></script>
</head>

<body class="bg-slate-50">

    <header class="bg-blue-900 p-2">
    
        <h1 class=" text-center text-3xl uppercase text-slate-100 font-bold">FAQ numéro client</h1>

        {# ========== Barre de recherche =========#}
        <form action="#" method="get" class="p-4 shadow-lg text-lg text-center bg-blue-900 font-semibold">
            <label for="search" class="text-slate-100">Rechercher une question </label>
            <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-1/2 text-slate-900 px-2 rounded-lg">
            <button type="submit" class="bg-green-500 rounded-2xl text-center px-4 py-1 hover:brightness-125">Rechercher</button>
        </form>

    </header>

    <content class="flex w-[96%] mx-auto gap-6 mt-10">

        {# ========== Bouttons de tri par catégorie =========#}
        <div class="bg-blue-900 flex-col justify-center p-5 h-4/5 w-1/5 rounded-2xl shadow-lg">
            <p class="text-slate-100 font-bold text-2xl mb-5">Trier par catégorie</p>
            <h2 class="reset bg-slate-300 mb-5 px-2 py-4 rounded-xl text-2xl font-bold uppercase text-blue-900 hover:scale-110 hover:brightness-110 hover:cursor-pointer">Tous</h2>
            <h2 class="category bg-orange-400 mb-5 px-2 py-4 rounded-xl text-2xl font-bold uppercase text-blue-900 hover:scale-110 hover:brightness-110 hover:cursor-pointer" data-categorie="city_ker">CITY KER</h2>
            <h2 class="category bg-yellow-400 mb-5 px-2 py-4 rounded-xl text-2xl font-bold uppercase text-blue-900 hover:scale-110 hover:brightness-110 hover:cursor-pointer" data-categorie="velo">Velo</h2>
            <h2 class="category bg-green-400 mb-5 px-2 py-4 rounded-xl text-2xl font-bold uppercase text-blue-900 hover:scale-110 hover:brightness-110 hover:cursor-pointer" data-categorie="vert">Vert</h2>

        </div>

        {# ========== Affichage des questions =========#}
        <div class="w-4/5">

            {% if data is not empty %}

                {% for item in data %}

                        <div class="objet bg-green-100 mb-4 ml-4 rounded-xl shadow-lg text-lg" data-categorie={{item.Categorie}}>

                            <h3 class="bg-blue-900 p-2 rounded-t-xl font-semibold text-slate-100">{{item.Question}}</h3>
                            <p class="p-2">{{item.Reponse}}</p>

                        </div>
                        
                {% endfor %}

            {% else %}

                <div class="bg-yellow-100 ml-4 rounded-xl p-11">
                    <p class="text-red-500 text-xl">Aucune question ne correspond à votre recherche...</p>
                </div>

            {% endif %}
        </div>
    </content>
</body>
</html>
