{% extends 'base.html.twig' %}

{% block title %}FAQ numéro client{% endblock %}

{% block body %}

    <div>

        {# ========== Page principale FAQ =========#}

        <header class="bg-slate-800 p-2">
        
            <div class="flex">
                <h1 class="text-center text-3xl uppercase text-slate-100 font-bold flex-auto ml-24">FAQ numéro client</h1>
                
                {# {% if is_granted('ROLE_USER') %} #}
                    <a href="{{ path('app_question_index') }}"  class="flex flex-col p-4 text-center transition-all hover:scale-105">
                        <i class="fa-solid fa-gears text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                    </a>
                {# {% else %} #}
                    <a href="{{ path('app_login') }}"  class="flex flex-col p-4 text-center transition-all hover:scale-105">
                        <i class="fa-solid fa-user text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                    </a>
                {# {% endif %} #}
            </div>

            {# ========== Barre de recherche =========#}
            <form action="#" method="get" class="p-4 shadow-lg text-lg text-center  font-semibold">
                <label for="search" class="text-slate-100">Rechercher une question </label>
                <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-1/2 text-slate-900 px-2 rounded-lg">
                <button type="submit" class="text-center px-4 py-1 hover:brightness-125 text-slate-50 text-2xl transition-all hover:scale-110"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </header>

        <content class="flex flex-col gap-10 my-10">

            {# ==================== Boutons de tri par département ==============#}
            {# Récupère les départements des questions pour créer les boutons de tri correspondant #}
            <div class="flex justify-evenly p-3 rounded-2xl uppercase mx-auto w-2/5">

                <p class="reset bg-blue-800 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Tous</p>

                {# === Pour chaque département dans le tableau on crée un bouton de tri correspondant === #}
                {% for departement in data %}
                    <p data-departement="{{ departement }}" class="category bg-blue-800 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">{{ departement }}</p>
                {% endfor %} 
            </div>

            {# ========== Affichage des questions regroupées par departement puis catégorie =========#}
            <div class="flex flex-wrap gap-10 w-[95%] mx-auto">

                {% if data is not empty %}

                    {% for departement in data %}

                        <div class="container flex flex-col gap-10 mx-auto">

                            <h2 class="uppercase p-2 font-semibold text-slate-800 rounded-xl text-2xl">{{ departement }}</h2>

                                <div class="flex flex-row flex-wrap gap-10 justify-between">

                                    {% for categorie in departement.categories %} 

                                        <div class="container flex flex-col shadow-lg rounded-xl w-[47%]">
                                            <h3 class="bg-slate-800 p-2 rounded-t-xl font-semibold text-slate-100">{{ categorie }}</h3>

                                                {% for question in categorie.questions %}
                                                    <div class="toggleBtn objet m-3 cursor-pointer" data-departement="{{ departement }}">
                                                        <h3 class=" text-slate-900 hover:underline">{{ question.label }}</h3>
                                                        <div class="answer">{{ question.reponse | raw }}</div>
                                                    </div>
                                                {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endfor %}
                    
                {% else %}

                    <div class="bg-yellow-100 ml-4 rounded-xl p-11">
                        <p class="text-red-500 text-3xl">Aucune question ne correspond à votre recherche...</p>
                    </div>
                {% endif %}
            </div>
        </content>

    </div>
{% endblock %}
