{% extends 'base.html.twig' %}

{% block title %}FAQ numéro client{% endblock %}

{% block body %}

    <div>

        {# ========== Page principale FAQ =========#}

        <header class="bg-slate-800 p-2">
        
            <div class="flex">
                <h1 class="text-center text-3xl uppercase text-slate-100 font-bold flex-auto ml-24">FAQ numéro client</h1>

                <a href="{{ path('app_login') }}"  class="flex flex-col p-4 text-center transition-all hover:scale-105">
                    <i class="fa-solid fa-user text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                </a>
            </div>

            {# ========== Barre de recherche =========#}
            <form action="#" method="get" class="p-4 shadow-lg text-lg text-center  font-semibold">
                <label for="search" class="text-slate-100">Rechercher une question </label>
                <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-1/2 text-slate-900 px-2 rounded-lg">
                <button type="submit" class="text-center px-4 py-1 hover:brightness-125 text-slate-50 text-2xl transition-all hover:scale-110"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </header>

        <content class="flex flex-col gap-10 mt-10 mb-10">

            {# ==================== Boutons de tri par département ==============#}
            {# Récupère les départements des questions pour créer les boutons de tri correspondant #}
            <div class="flex justify-evenly p-3 rounded-2xl uppercase mx-auto w-2/5">

                <p class="reset bg-blue-800 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Tous</p>

                {# === Récupère les départements et les stocke dans un tableau === #}
                {% set departements = [] %}
                {% for dataItem in data %}
                    {% set departement = dataItem.departement %}
                    {% if departement not in departements %}
                        {% set departements = departements|merge([departement]) %}
                    {% endif %}
                {% endfor %}

                {# === Pour chaque département dans le tableau on crée un bouton de tri correspondant === #}
                {% for departement in departements %}
                    <p data-departement="{{ departement }}" class="category bg-blue-800 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">{{ departement }}</p>
                {% endfor %}
            </div>

            {# ========== Affichage des questions regroupées par catégorie =========#}
            <div class="flex flex-wrap gap-10 justify-center">

                {# === Récupère les catégories et les stocke dans un tableau === #}
                {% if data is not empty %}
                    {% set categories = [] %}
                    {% for dataItem in data %}
                        {# Ici on doit convertir category en string pour que la valeur soit strictement unique dans le tableau #}
                        {# sinon on aurait par exemple eu un conteneur "horaire" pour chaque département #}
                        {% set category = dataItem.categorie ~ '' %} 
                        {% if category not in categories %}
                            {% set categories = categories|merge([category]) %}
                        {% endif %}
                    {% endfor %}

                    {# === Pour chaque catégorie on crée un container et on y affiche toutes les questions de cette catégorie === #}
                    {% for category in categories %}

                        <div class="container flex flex-col shadow-lg rounded-xl w-5/12">
                            <h3 class="bg-slate-800 p-2 rounded-t-xl font-semibold text-slate-100">{{ category }}</h3>
                            {% for dataItem in data %}
                                {% if dataItem.categorie == category %}
                                    <div class="toggleBtn objet m-3 cursor-pointer" data-departement="{{ dataItem.departement }}">
                                        <h3 class=" text-blue-700 underline">{{ dataItem.question }}</h3>
                                        <div class="answer">{{ dataItem.reponse | raw }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                {% else %}

                    <div class="bg-yellow-100 ml-4 rounded-xl p-11">
                        <p class="text-red-500 text-xl">Aucune question ne correspond à votre recherche...</p>
                    </div>
                {% endif %}
            </div>
        </content>

    </div>
{% endblock %}
