{% extends 'base.html.twig' %}

{% block title %}FAQ numéro client{% endblock %}

{% block body %}

    <div class="containerDark">

        {# ========== Page principale FAQ =========#}

        <header class="bg-sky-800 dark:bg-slate-900 p-2">
        
            <div class="flex">

                <div class="toggleDark flex flex-col p-4 text-center transition-all hover:scale-105 cursor-pointer">
                    <i class="fa-solid fa-circle-half-stroke text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                </div>

                <h1 class="text-center text-3xl uppercase text-slate-100 font-bold flex-auto ml-24">FAQ numéro client</h1>
                
                {# {% if is_granted('ROLE_USER') %} #}
                    <a href="{{ path('app_question_index') }}"  class="flex flex-col p-4 text-center transition-all hover:scale-105">
                        <i class="fa-solid fa-gears text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                    </a>
                {# {% else %} #}
                    <a href="{{ path('app_login') }}"  class="flex flex-col p-4 text-center transition-all hover:scale-105">
                        <i class="fa-solid fa-user text-slate-50 text-2xl text-center px-4 py-1 font-semibold"></i>
                    </a>
                {# {% endif %} #}
            </div>

            {# ========== Barre de recherche =========#}
            <form action="#" method="get" class="p-4 shadow-lg text-lg text-center  font-semibold">
                <label for="search" class="text-slate-100">Rechercher une question </label>
                <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-1/2 text-slate-900 px-2 rounded-lg">
                <button type="submit" class="text-center px-4 py-1 hover:brightness-125 text-slate-50 text-2xl transition-all hover:scale-110"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

        </header>

        <content class="flex flex-col gap-10 dark:bg-slate-950">

            {# ==================== Boutons de tri par département ==============#}
            {# Récupère les départements des questions pour créer les boutons de tri correspondant #}
            <div class="flex justify-evenly p-3 rounded-2xl uppercase mx-auto mt-10 w-2/5">

                <p class="reset bg-sky-800 dark:bg-slate-800 dark:text-slate-200 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">Tous</p>

                {# === Pour chaque département dans le tableau on crée un bouton de tri correspondant === #}
                {% for departement in data %}
                    <p data-departement="{{ departement }}" class="category bg-sky-800 dark:bg-slate-800 dark:text-slate-200 text-slate-50 rounded-2xl text-center py-2 hover:brightness-125 shadow-lg font-bold cursor-pointer w-1/5">{{ departement }}</p>
                {% endfor %} 
            </div>

            {# ========== Affichage des questions regroupées par departement puis catégorie =========#}
            <div class="flex flex-wrap gap-10 w-[95%] mx-auto ">

                {% if data is not empty %}

                    {% for departement in data %}

                        <div class="container p-4 flex flex-col gap-10 mx-auto shadow-lg rounded-xl bg-slate-100 dark:bg-slate-900">

                            <div class="flex">
                                <div class="h-auto w-3 bg-green-500 mr-2 dark:bg-green-800"></div>
                                <h2 class="uppercase p-2 font-semibold text-sky-900 rounded-xl text-2xl dark:text-slate-300">{{ departement }}</h2>
                            </div>

                                <div class="flex flex-row flex-wrap gap-10 justify-between">

                                    {% for categorie in departement.categories %} 

                                        <div class="container flex flex-col w-[47%] hover:scale-105 transition-all">
                                            <h3 class="bg-sky-800 p-2 font-semibold text-slate-100 mb-1 dark:bg-slate-600">{{ categorie }}</h3>

                                                {% for question in categorie.questions %}
                                                    <div class="toggleBtn objet mb-1 cursor-pointer bg-slate-200 border border-solid border-slate-500 dark:bg-slate-900" data-departement="{{ departement }}">
                                                        <h3 class=" text-slate-900 hover:bg-sky-600 hover:text-slate-50 p-2 dark:text-slate-300 dark:hover:bg-sky-900">{{ question.label }}</h3>
                                                        <div class="answer bg-slate-50 dark:bg-zinc-950 dark:text-slate-300">{{ question.reponse | raw }}</div>
                                                    </div>
                                                {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    {% endfor %}
                    
                {% else %}

                    <div class="bg-yellow-100 ml-4 rounded-xl p-11">
                        <p class="text-red-500 text-3xl">Aucune question ne correspond à votre recherche...</p>
                    </div>
                {% endif %}
            </div>
        </content>

    </div>
{% endblock %}
